[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
[dn]
C=AU
ST=Queensland
L=Brisbane
O=bne-home
OU=admin
emailAddress=brendan.shephard@gmail.com
CN=openstack.bne-home.net
